version: "3.8"

networks:
  dokploy-network:
    external: true

services:
  osrs-sim:
    image: ghcr.io/kuzat/osrs-sim:latest
    networks:
      - dokploy-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.tier == app
      restart_policy:
        condition: on-failure
        max_attempts: 3
      labels:
        traefik.enable: "true"
        traefik.docker.network: "dokploy-network"
        traefik.http.routers.osrs-sim.rule: "Host(`osrs.monster`)"
        traefik.http.routers.osrs-sim.entrypoints: "websecure"
        traefik.http.routers.osrs-sim.tls.certresolver: "le"
        traefik.http.services.osrs-sim.loadbalancer.server.port: "3000"